main#wrapper {
  margin-top: 3rem;
  background: #F8F8F8;
  overflow-y: hidden;
  overflow-x: scroll;

  div.board {
    float: left;
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
    background: #FFF;

    div.boardHeader {
      display: block;
      padding-bottom: .5rem;
      border-bottom: .1rem solid  #A1A1A1;

      h6 {
        display: block;
      }
      p {
        display: block;
      }
    }
    div.board {
      min-height: 10rem;

      span.item {
        cursor: move;
        cursor: -webkit-grabbing;
      }
    }
  }
}
