
$primary-normal: #3BAFDA;
$primary-hover: #4FC1E9;

$success-normal: #8CC152;
$success-hover: #A0D468;

$danger-normal: #DA4453;
$danger-hover: #ED5565;

$info-normal: #37BC9B;
$info-hover: #48CFAD;

$warning-normal: #F6BB42;
$warning-hover: #FFCE54;

$normal-normal: #AAB2BD;
$normal-hover: #CCD1D9;

$default-normal: #FFFFFF;
$default-hover: #CCD1D9;





$white-text: #FFFFFF;
$white-bg: #F3F3F3;

$black-light: #8C8C8C;
$black-normal: #333333;
$black-dark: #000000;
