html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, p:before, p:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Roboto', sans-serif; }

main {
  margin-top: 5rem; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem; }

.form-control {
  display: block;
  width: 100%;
  height: 3.4rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.4rem;
  white-space: nowrap;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: .1rem solid #ccc;
  border-radius: .3rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.btn {
  display: inline-block;
  padding: 1rem 4rem;
  margin: 0;
  height: 3.4rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.4rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: .3rem;
  outline: 0;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box; }
  .btn.primary {
    background: #3BAFDA; }
    .btn.primary:hover {
      background-color: #4FC1E9; }
    .btn.primary:active {
      -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }
  .btn.success {
    background: #8CC152; }
    .btn.success:hover {
      background-color: #A0D468; }
    .btn.success:active {
      -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }
  .btn.warning {
    background: #F6BB42; }
    .btn.warning:hover {
      background-color: #FFCE54; }
    .btn.warning:active {
      -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }
  .btn.danger {
    background: #DA4453; }
    .btn.danger:hover {
      background-color: #ED5565; }
    .btn.danger:active {
      -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }
  .btn.info {
    background: #37BC9B; }
    .btn.info:hover {
      background-color: #48CFAD; }
    .btn.info:active {
      -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }
  .btn.normal {
    background: #AAB2BD; }
    .btn.normal:hover {
      background-color: #CCD1D9; }
    .btn.normal:active {
      -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }
  .btn.default {
    color: #000000;
    background: #FFFFFF; }
    .btn.default:hover {
      background-color: #CCD1D9; }
    .btn.default:active {
      -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }

.alert {
  display: block;
  padding: 1.5rem;
  width: 100%; }
  .alert.primary {
    background-color: #3BAFDA;
    color: #FFFFFF; }
  .alert.success {
    background-color: #8CC152;
    color: #FFFFFF; }
  .alert.warning {
    background-color: #F6BB42;
    color: #FFFFFF; }
  .alert.danger {
    background-color: #DA4453;
    color: #FFFFFF; }
  .alert.info {
    background-color: #37BC9B;
    color: #FFFFFF; }
  .alert.normal {
    background-color: #AAB2BD;
    color: #000000; }
  .alert.default {
    background-color: #FFFFFF;
    color: #000000; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background: #333333;
  box-sizing: border-box; }
  nav ul {
    display: block;
    padding: .8rem 0;
    float: left;
    width: 50%;
    height: inherit;
    box-sizing: border-box; }
    nav ul li {
      float: left;
      padding: 0 0 0 1rem;
      display: block; }
      nav ul li span {
        line-height: 3.4rem;
        text-decoration: none;
        font-size: 1.4rem;
        color: #DA4453;
        cursor: default; }
      nav ul li a {
        line-height: 3.4rem;
        text-decoration: none;
        font-size: 1.4rem;
        color: #8C8C8C; }
        nav ul li a.active {
          background-color: #000000;
          color: #FFFFFF; }
        nav ul li a:hover {
          color: #FFFFFF; }
  nav ul + ul li {
    float: right;
    padding: 0 1rem 0 0; }

main#wrapper {
  margin-top: 3rem;
  background: #F8F8F8;
  overflow-y: hidden;
  overflow-x: scroll; }
  main#wrapper div.board {
    float: left;
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
    background: #FFF; }
    main#wrapper div.board div.boardHeader {
      display: block;
      padding-bottom: .5rem;
      border-bottom: .1rem solid  #A1A1A1; }
      main#wrapper div.board div.boardHeader h6 {
        display: block; }
      main#wrapper div.board div.boardHeader p {
        display: block; }
    main#wrapper div.board div.board {
      min-height: 10rem; }
      main#wrapper div.board div.board span.item {
        cursor: move;
        cursor: -webkit-grabbing; }
