<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li>
      <span class="createBoard">Add Board</span>
      <span class="createStory">Add Story</span>
    </li>
  </ul>
</nav>
